*, *::before, *::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: rgb(1, 95, 22);
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  outline: none;
}

#imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 50vh;
  max-height: 50vh;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body.recycling {
  background-color: rgb(182, 255, 194);
}

h2{
    text-align: center;
}

:root {
  --hue-neutral: 120;
  --hue-wrong: 0;
  --hue-correct: 240;
}

.hide {
  display: none;
}

.container {
  width: 1000px;
  max-width: 80%;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 10px 2px;
}

.rec {
  background-color: rgb(11, 172, 83);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  border-width: medium;
}

.btn.wrong {
  --hue: var(--hue-wrong);
  border-width: medium;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.back-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-right: 20px;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  font-size: 23px;
  font-weight: bold;
}
