body {
  background-image: linear-gradient(white);
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #98c4d1;
  padding: 48px 16px 0 16px;
  margin-bottom: 24px;
}

.logo {
  margin-bottom: auto;
  display: flex;
  align-items: baseline;
  gap: 23px;
}

.logo h1 {
  font-weight: bold;
}

.logo h1 a {
  font-family: 'Inter Tight';
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  gap: 24px;
  margin: 0;
  list-style: none;
}

.links li a {
  font-family: 'Inter Tight';
  font-weight: bold;
  font-size: large;
  color: black;
  text-decoration: none;
  cursor: pointer;
}


main {
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #f3f4f6;
  border-radius: 10px;
  transition: transform 0.2s;
  cursor: pointer;
}

.container:hover {
  transform: scale(1.05);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#posts h2,
p {
  margin: 0;
}

#posts {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

#post {
  display: flex;
  gap: 8px;
}

#post #content {
  font-size: smaller;
  margin-right: 34px;
}

#post #date {
  font-size: small;
}

#post-form {
  display: flex;
  flex-flow: column;
}

.container:hover,
input[type='submit']:hover {
  transform: scale(1.02);
}

.form-container_parent {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.form-container {
  position: relative;
  margin: auto;
}

.btn-secondary{
  background-color: #fec240 ;
  border: 3px solid rgb(0, 0, 0);
}

.btn-primary{
  background-color: #98c4d1;
  color: black;
  border: 3px solid rgb(0, 0, 0);
}

#delete{
  background-color: #de4b43;
}

h2{
  color: white;
}

.container{
  background-color: #2f375b;
  color: white;
  border: 3px solid rgb(0, 0, 0);
}

.container:hover {
  cursor: pointer;
  border-color: #de4b43;
}

.form-container{
  background-color:#98c4d1 ;
}

.form-container .submit {
  background-color: #2f375b;
}

#backBtn2{
  background-color: #fec240;
  border: 3px solid black; 
  border-radius: 15px; 
  width: 88px;
  font-size: small;
  margin-bottom: 5px;
}
#backBtn2 a{
  text-decoration: none;
}
#backBtn2:hover{
  cursor: pointer;
  transform: translate(-3px, -3px);
  border-color: #de4b43;
  transition: transform 0.2s;
}

#backBtn2 h1{
  margin: 0;
}

.btn-secondary:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0 3px 10px #2F375B;
  border: 3px solid #de4b43;
}

.btn-primary:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0 3px 10px #2F375B;
  border: 3px solid #de4b43;
}
