@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&family=Inter:wght@400;600&display=swap');

* {
  font-family: 'Inter';
}

body {
  margin: 40px auto;
  line-height: 1.6;
  font-size: 18px;
  color: #444444;
  padding: 0 10px;
}

h1,
h2,
h3 {
  font-family: 'Inter Tight';
  line-height: 1.2;
}

fieldset {
  padding: 0 0 16px 0;
  display: flex;
  flex-flow: column;
  border: none;
}

fieldset label {
  font-size: small;
  font-weight: bold;
}

input[type='text'],
input[type='password'],
textarea {
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}

input[type='submit'],
.btn-primary {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-secondary {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  background-color: #f3f4f6;
  color: #394150;
  padding: 6px 6px;
  border-radius: 14px;
  font-size: smaller;
}

.btn-danger {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  background-color: #e00;
  color: #fff;
  padding: 6px 6px;
  border-radius: 10px;
  font-size: smaller;
}

input[type='submit'],
.btn-primary,
.btn-secondary,
.btn-danger {
  transition: transform 0.2s;
}

input[type='submit']:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-danger:hover {
  transform: scale(1.05);
}

.form-container {
  display: flex;
  flex-flow: column;
  width: 500px;
  padding: 16px;
  background-color: #fff;
  outline: 4px solid black;
  border-radius: 8px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
