@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-image: linear-gradient(white);
  padding: 0;
  margin: 0;
}

/* nav{
  background-color: #98C4D1;
  height: 15vh;
  margin-bottom: 7vh;
  font-size: 30px;
}  */

nav {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #98c4d1;
  padding: 48px 16px 0 16px;
  margin-bottom: 24px;
}

.logo {
  margin-bottom: auto;
  display: flex;
  align-items: baseline;
  gap: 23px;
}

.logo h1 {
  font-weight: bold;
}

.logo h1 a {
  font-family: 'Inter Tight';
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  gap: 24px;
  margin: 0;
  list-style: none;
}

.links li a {
  font-family: 'Inter Tight';
  font-weight: bold;
  font-size: large;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main {
  padding: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#title {
  font-size: 50px;
}

#logoImg {
  max-width: 50px;
  max-height: 50px;
}

.col {
  margin: 2%;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 15px;
  font-family: 'Nova Square', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

#col1 {
  background-color: #fec240;
  height: 10vh;
}

#col2 {
  background-color: #fec240;
  height: 10vh;
}

#col3 {
  background-color: #fec240;
  height: 10vh;
}

#col4 {
  background-color: #2f375b;
  background-size: 15vh;
  background-position: center;
  height: 60vh;
}

#col5 {
  background-color: #2f375b;
  background-size: 50vh;
  background-position: center;
  height: 60vh;
}

#col6 {
  background-color: #2f375b;
  background-size: 50vh;
  background-position: center;
  height: 60vh;
}

.homeLink {
  text-decoration: none;
  color: black;
}
.homeLink h1 {
  font-weight: bold;
}

.col:hover {
  cursor: pointer;
  transform: translate(-5px, -5px);
  border-color: #de4b43;
}

.colIcon {
  font-size: 100px !important;
  color: white;
}

.icon1 {
  font-size: 40px !important;
}

.info {
  color: white !important;
}

.hide-item {
  display: none;
}
