body {
  background-image: linear-gradient(to right, rgb(184, 0, 55), white);
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: 900;
  color: black;
  display: flex;
  text-align: center;
}
