main {
  padding: 16px;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.link-btn_container {
  display: flex;
  gap: 340px;
  justify-content: center;
  margin-bottom: 12px;
}

.form-container_parent {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-container {
  background-color: #98c4d1;
  color: white;
}

.login-btn,
.signup-btn {
  margin: 8px 2px;
  background-color: #2f375b !important;
}

.btn-secondary {
  background-color: #fec240;
  border: 3px solid rgb(0, 0, 0);
}

#login-form,
#register-form {
  display: flex;
  flex-flow: column;
}

input[type='submit']:hover {
  transform: scale(1.02);
}

.btn-secondary:hover {
  cursor: pointer;
  border-color: #de4b43;
}

footer{
  position: fixed;
  bottom: 5px;
  left: 5px;
}
