main {
  padding: 16px;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.link-btn_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.login-btn,
.signup-btn {
  margin: 8px 2px;
}

#login-form,
#register-form {
  display: flex;
  flex-flow: column;
}
