*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

#imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 50vh;
  max-height: 50vh;
}

#Img1 {
  max-width:30px;
  max-height:30px;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body.recycling {
  background-color: #98c4d1;
}

h2 {
  text-align: center;
}

:root {
  --hue-neutral: 120;
  --hue-wrong: 0;
  --hue-correct: 240;
}

.hide {
  display: none;
}

.container {
  width: 1000px;
  max-width: 80%;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 10px 2px;
}

.rec {
  background-color: #2f375b;
  color: white;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  border-width: medium;
  background-color: limegreen;
}

.btn.wrong {
  --hue: var(--hue-wrong);
  border-width: medium;
  background-color: red;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.back-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-right: 20px;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  font-size: 23px;
  font-weight: bold;
}


#game{
  display: block
}

#end{
  display: none; 
  min-width: 100%;
  min-height: 50vh; 
}

button{
  transition: transform 0.3s ease;
  background-color: white;
  border-radius: 10px; 
}

button:hover{
  cursor: pointer;
  background-color: gainsboro;
}


#message,  .scores {
  font-size: 30px; 
  font-weight: bolder;
}


#image{
  border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.15), 0 0 30px rgba(0, 0, 0, 0.1);
    width: 300px;
    height:  200px;
}

.answer{
  border: 3px solid rgb(0, 0, 0);
}

.back-btn{
  background-color: #fec240;
  border: 3px solid rgb(0, 0, 0);
}

.next-btn{
  background-color: #fec240;
  border: 3px solid rgb(0, 0, 0);
}

.btn:hover {
  cursor: pointer;
  border-color: #de4b43;
}

#replay{
  background-color: #fec240;
  border: 3px solid rgb(0, 0, 0);
}

#replay:hover {
  cursor: pointer;
  border-color: #de4b43;
}
