@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-image: linear-gradient(to right, rgb(255, 113, 156), white);
  display: flex;
  text-align: center;
  min-height: 100vh;
  padding: 0; 
  margin: 0;
  font-family: 'Nova Square', sans-serif;
}

nav{
  background-image: linear-gradient(to right, rgb(163, 116, 30), white);
  height: 15vh;
  margin-bottom: 7vh;
  font-size: 30px;
  font-family: 'Nova Square', sans-serif;
}

#title {
  font-size: 50px;
}

#logoImg {
  max-width:50px;
  max-height:50px;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.container.header {
  max-width: 700px; /* Set the maximum width of the container to your desired size */
  width: 100%; /* Ensure it takes the full width of its parent */
  text-align: center;
}

.container {
  /* width: 100%; */
  
  padding: 20px; 
  background-color: #f0f0f0; 
  box-sizing: border-box;
  margin: 0 auto; 
}

.bins-container {
  border: 1px solid green;
  background-color: green;
  grid-template-columns: auto auto;
  display: grid;
  padding: 10px;
  width: 100%; /* Make the bins container take the full width of its parent */
  box-sizing: border-box;
}

.bin-card {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.bin-card:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0 3px 10px white;
  border: 1px solid white;
}

.col{
  /* width: 30vw; */
  margin: 2%;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-family: 'Nova Square', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


#goToGame {
  margin-top: 20px; /* Adjust as needed */
  background-image: linear-gradient(to right, rgb(245, 30, 30), white);
  height: 10vh;
  
}